<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户中心</title>
    <link href="{% static 'materialize.min.css' %}" rel="stylesheet">
</head>
<body class="grey lighten-4">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card">
          <div class="card-content">
            <span class="card-title center">您好, {{ username }}</span>
            <ul class="collection">
              <li class="collection-item"><strong>邮箱:</strong> {{ email }}</li>
              <li class="collection-item"><strong>QQ:</strong> {{ qq }}</li>
              <li class="collection-item"><strong>性别:</strong> {{ gender }}</li>
              <li class="collection-item"><strong>出生日期:</strong> {{ birthdate }}</li>
              <li class="collection-item"><strong>籍贯:</strong> {{ nativePlace }}</li>
              <li class="collection-item"><strong>注册时间:</strong> {{ regdate }}</li>
              <li class="collection-item"><strong>最后登录:</strong> {{ lastlogin }}</li>
              <li class="collection-item"><strong>登录次数:</strong> {{ logintimes }}</li>

            </ul>
          </div>
          <div class="card-action center">
            <a href="{% url 'login' %}">退出登录</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'materialize.min.js' %}"></script>
</body>
</html>